<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYLeQrizv-doMJENJiTh2fq3WgWtAaczg</string>
	<key>GCM_SENDER_ID</key>
	<string>871350869965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcanjotclub.app</string>
	<key>PROJECT_ID</key>
	<string>tropical-64d1b</string>
	<key>STORAGE_BUCKET</key>
	<string>tropical-64d1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871350869965:ios:1683c540729f63aaa66e84</string>
	<key>DATABASE_URL</key>
	<string>https://tropical-64d1b-default-rtdb.firebaseio.com</string>
</dict>
</plist>